* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #dbdbdb;
}

.form-group {
    box-shadow: 0px 3px 8px -1px #22678f;
}

/* DARK MODE */
.dark-mode {
    background-color: black;
    color: white;
}

#buttonSwitchMode {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    box-shadow: 0px 3px 8px -1px #22678f;
}

#buttonSwitchMode:hover {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    box-shadow: inset 0px 3px 8px -1px #22678f;
}
