@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Poppins:ital,wght@0,400;0,700;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: 0;
}

body {
    background: #161313;
    font-family: 'Poppins', sans-serif;
    color: white;
    /* display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; */
}

/* .BG {
    width: 100%;
    height: 100px;
    background: rgb(255, 255, 255);
    background: -moz-radial-gradient(
        circle,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 71, 84, 1) 1%,
        rgba(0, 0, 0, 1) 2%,
        rgba(205, 16, 110, 1) 5%,
        rgba(211, 43, 168, 1) 10%,
        rgba(218, 75, 95, 1) 20%,
        rgba(228, 124, 175, 1) 30%,
        rgba(172, 119, 146, 1) 45%,
        rgba(205, 16, 110, 1) 50%,
        rgba(255, 255, 255, 1) 100%
    );
    background: -webkit-radial-gradient(
        circle,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 71, 84, 1) 1%,
        rgba(0, 0, 0, 1) 2%,
        rgba(205, 16, 110, 1) 5%,
        rgba(211, 43, 168, 1) 10%,
        rgba(218, 75, 95, 1) 20%,
        rgba(228, 124, 175, 1) 30%,
        rgba(172, 119, 146, 1) 45%,
        rgba(205, 16, 110, 1) 50%,
        rgba(255, 255, 255, 1) 100%
    );
    background: radial-gradient(
        circle,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 71, 84, 1) 1%,
        rgba(0, 0, 0, 1) 2%,
        rgba(205, 16, 110, 1) 5%,
        rgba(211, 43, 168, 1) 10%,
        rgba(218, 75, 95, 1) 20%,
        rgba(228, 124, 175, 1) 30%,
        rgba(172, 119, 146, 1) 45%,
        rgba(205, 16, 110, 1) 50%,
        rgba(255, 255, 255, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ffffff",GradientType=1);
} */

h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 4rem;
    color: #cd106e;
}

h2 {
    font-size: 1.4rem;
}
.form-control,
.custom-select {
    background: transparent !important;
    color: #f9f9f9;
    /* border: 2px solid #7a7a7a; */
    transition: all 0.2s;

    border-bottom: 2px solid #cd106e;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0px;
}

.form-control:focus,
.custom-select:focus {
    border-bottom: 4px solid #ff4754;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0px;
    box-shadow: none;
}

option {
    /* color: white; */
    color: #cd106e;
    background-color: #131416;
}

select option:hover {
    color: #ff4754 !important;
}

button.btn-danger {
    background-color: #cd106e !important;
}

/* i.fas.fa-exclamation-cicle {
    width: 20px;
    height: 20px;
    color: #ff4754;
} */

.error {
    color: #ff4754;
}

/* card */
.card {
    border: 0;
}
.card-body {
    padding: 0.5rem 0;
    font-size: 14px;
}
.card-title small {
    font-size: 14px;
    font-weight: 200;
}
.card-text del {
    font-weight: 200;
}
.card-img-overlay button i {
    font-weight: normal;
}
.btn {
    padding: 0.75rem;
    line-height: 1;
}

.btn-light:not(:disabled):not(.disabled).active,
.btn-light:not(:disabled):not(.disabled):active,
.show > .btn-light.dropdown-toggle {
    background-color: black;
    color: white;
}
