@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Poppins:ital,wght@0,400;0,700;1,400&display=swap');
/* CSS rules to specify families */
/* font-family: 'Bangers', cursive;
/* font-family: 'Poppins', sans-serif;
*/

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: linear-gradient(
        to top,
        #02122a,
        #393e53,
        #6f7180,
        #a8a8b0,
        #e3e3e3
    );
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

h1 {
    font-family: 'Bangers', sans-serif;
    color: white;
}
